$color-black-100: #091d37;
$color-black-50: #69717a;
$color-black: #000000;
$color-primary: #aecf6d;
$color-primary-tint: #f5f8e9;
$color-secondary: #334266;
$color-grey-200: #71757a;
$color-grey-100: #888e9a;
$color-grey-90: #e6e8ec;
$color-grey-80: #eff0f1;
$color-grey-70: #f2f3f5;
$color-grey-50: #eceef3;
$color-green-10: #f5f8e9;
$color-white: #ffffff;
$color-danger: #e84c4d;
