.separator {
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #80cfdc 0%, #9ac93d 100%);
  position: fixed;
  // position: absolute;
  top: 0;
  z-index: 11;
  @media (max-width: 992px) and (min-width: 426px) {
    position: static;
  }
}
